nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: white;
    padding: 10px;
    padding: 10px;
    position: fixed;
    width: 99%;
    
    
}
nav ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
nav ul li{
    margin: 10px;
}
*{
    padding: 0;
    margin: 0;
}
nav ul li button{
    padding: auto;
    background: #000;
    border: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    font-size: 1rem;

}
body{
    background-image: linear-gradient(black,aqua);
}
nav .logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(rgb(136, 255, 0),green);
    padding: 30px;
    height: 80vh;
    
}

.name{
    font-family: 'Courier New', Courier, monospace;
}
@media screen AND (max-width:1000px) {
    .hero{
        text-align: center;
    }
    .card{
        display: grid;
        grid-column: 1/2;
    }
}
@media screen AND (max-width:300px) {
    .hero{
        text-align: center;

    }
}
.right{
    margin-top: 20%;
   
  


















    


}
.hero{
    background-image: url("/img/tctf.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20%;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 30px solid rgb(0, 0, 0);
}
.green{
    color: rgb(125, 255, 125);
}
.white{
    color: white;
    font-family: Georgia;
}
.salam{
    color: aqua;
}
.heading{
    text-align: center;
    color: aliceblue;
    font-family: fantasy;
}
.card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-img-top{
    width: 100%;
    border-radius: 20px;
}

.card-desc{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.btn{
    background: rgb(3, 159, 250);
    color: aliceblue;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    
    
}
.descr{
  

    animation-name: tct;
    animation-duration: 5s;
    animation-delay: 0.01s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
nav{
    z-index: 1;
}
@keyframes tct {
    from{
        border-left: none;
        border-top: none;
        background: transparent;
        transform: rotateX(90deg);

    }
    to{
        border-left: 2px solid green;
        border-top: 2px solid rgb(255, 255, 255);
        box-shadow: 5px 5px green;
        border-radius: 20px;
        transform: rotateX(0deg);
        background: #000;
    }
}

.btn:hover{
    transition: background 2s;
    background: #000;
    border: 2px solid aqua;
}
.blog-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.card:hover{
    transition: color 3s;
    color: aqua;
}
input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button[type=submit] {
    background-color: #04AA6D;
    color: rgb(250, 250, 250);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 